@use '../util/fonts';

// COLOURS
$blue: #0264D2;
$blue_pale: #c1d5eb;
$purple: #81298F;
$purple_pale: #E199F1;
$orange: #FF8515;
$orange_pale: #FFBB7D;
$green: #AED234;
$green_pale: #CFEB70;
$white: #ffffff;
$black: #000000;
$blackberry: #363053;
$ndis: #6B2B75;
$grey_a: #F7F7F7;
$grey_b: #F6F6F6;

// GRADIENTS

$gradient_vert_ab: linear-gradient(180deg, $grey_b 0%, $grey_a 100%);


// FONTS
$ultra_light: 200;
$light: 300;
$regular: 400;
$semi_bold: 500;
$bold: 600;
$black: 700;
$heavy: 800;

// SIZES

$page_width: 1440px;
$blog_width: 1280px;


// TRANSITIONS

$trans_one: 0.3s ease-out all;
$trans_two: 0.3s ease-in all;

// BREAKPOINST

