@use '../util/fonts';

// COLOURS
$blue: #0264D2;
$blue_pale: #5E98D8;
$purple: #B501DB;
$purple_pale: #E199F1;
$orange: #FF8515;
$orange_pale: #FFBB7D;
$green: #AED234;
$green_pale: #CFEB70;
$white: #ffffff;
$black: #000000;
$blackberry: #363053;
$ndis: #6B2B75;

// FONTS
$ultra_light: 200;
$light: 300;
$regular: 400;
$semi_bold: 500;
$bold: 600;
$black: 700;
$heavy: 800;

// SIZES


// TRANSITIONS

$trans_one: 0.3s ease-out all;
$trans_two: 0.3s ease-in all;

// BREAKPOINST

