@use '../abstracts/variables' as v;

.btn {
    display: flex;
    flex-direction: row;
    font-weight: v.$regular;
    align-items: center;
    text-transform: lowercase;
    line-height: 1;
    max-height: 3rem;
    color: inherit;
    border: 2px solid;
    border-radius: 3rem;
    padding: 1rem 3rem;
    gap: 2rem;
    transition: v.$trans_one;
}

.btn-fwd {
    padding-right: 2rem;
    &::after {
        content: '';
        background-image: url('../../assets/images/arrow-right.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        width: 2rem;
        height: 2rem;

    }
}