@use '../abstracts/variables' as v;

.price-accordion {
    background-color: v.$grey_b;
    display: flex;
    width: 100%;
    padding: 2rem 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    &:last-child {
        margin-bottom: 4rem;
    }
    @media screen and (max-width: 780px) {
        padding: 2rem 2rem;
    }
    @media screen and (max-width: 580px) {
        padding: 2rem 1rem;
    }


    summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        font-weight: v.$bold;
        width: 100%;
        transition: 0.3s ease-out all;
        @media screen and (max-width: 720px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 580px) {
            font-size: 1rem;
        }
    

        span {
            font-size: 1rem;
            font-weight: v.$light;
        }

        span:first-child {
            display: flex;

        }
        span:last-child {
            display: none;
        }

    }
    
    p {
        margin-top: 2rem;
    }
    a {
        text-decoration: underline;
    }

    table {
        max-width: 100%;
        border-spacing: 0;
        font-weight: v.$bold;
        font-size: 0.8rem;
        @media screen and (max-width: 820px) {
            font-size: 0.6rem;
        }
        thead {
            background-color: v.$blue;
            color: v.$white;
            tr {
                td {
                    padding: 0.25rem 0.5rem;
                    border-bottom: 1px solid v.$white;
                }

            }
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    border: 1px solid v.$white;
                    background-color: v.$blue_pale;
                    td {
                        padding: 0.25rem 0.5rem;
                        &:nth-child(-n+3) {
                            border-right: 1px solid v.$white;
                        }
                        
                    }
                }
                &:nth-child(even) {
                    border: 1px solid v.$blue_pale;
                    td {
                        padding: 0.25rem 0.5rem;
                        &:nth-child(-n+3) {
                            border-right: 1px solid v.$blue_pale;
                        }
                        &:first-child {
                            border-left: 1px solid v.$blue_pale;
                        }
                        &:last-child {
                            border-right: 1px solid v.$blue_pale;
                        }
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 1px solid v.$blue_pale;
                    }
                    
                }
                
                

            }
        }
    }
}

.price-accordion[open] {
    transition: 0.3s ease-in-out all;
    summary{
        span:first-child {
            display: none;
        }
        span:last-child {
            display: flex;
        }

    }
}
