@use '../abstracts/variables' as v;

.team-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
    @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 720px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-member {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        padding: 2rem;
        background: v.$gradient_vert_ab;
        width: 100%;

        .headshot {
            display: flex;
            flex-direction: column;
            img {
                display: flex;
                aspect-ratio: 1/1;
                object-fit: contain;
                background-color: white;
                border-radius: 50%;
                border: 0.5rem solid v.$green;
                width: 160px;
            }
        }
        .name {
            font-weight: v.$bold;
            font-size: 1.2rem;
        }
    }
}