.page-hero {
    display: flex;
    background-color: red;
    .bg-figures {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: space-between;
        .left-figure {
            display: flex;
            background-color: yellow;
            width: 100px;
            height: 300px;
        }
        .right-figure {
            display: flex;
            background-color: blue;
            width: 100px;
            height: 300px;
        }

    }
}