@use '../abstracts/variables' as v;
.container {
    all: inherit;
    width: v.$page_width;
    max-width: 100%;
    padding: 0 2rem;
    margin: auto;
}
.container-full {
    all: inherit;
    width: 100%;
    max-width: 100%;
    padding: 0 2rem;
    margin: auto;
}

img {
    max-width: 100%;
}

.round {
    border-radius: 4rem;
}