@use "../abstracts/variables" as v;

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container {
    all: inherit;
    width: v.$page_width;
    max-width: 100%;
    padding: 0 2rem;
    margin: auto;
}
.container-narrow {
    all: inherit;
    width: v.$blog_width;
    max-width: 100%;
    padding: 0 2rem;
    margin: auto;
}
.container-full {
    all: inherit;
    width: 100%;
    max-width: 100%;
    padding: 0 2rem;
    margin: auto;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.round {
    border-radius: 4rem;
}

.dir-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.grey-box {
    background-color: v.$grey_b;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin-top: 4rem;
    width: 100%;
    @media screen and (max-width: 580px) {
        padding-inline: 2rem;
    }
}

.margin-top-thick {
    margin-top: 4rem;
}

.hidden-menu {
    margin-left: -100%;
}
